* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

.logo {
    display: block;
    height: 65px;
    padding: .625rem 0;
}

.logo svg {
    height: 47px;
    width: 95px;
}

.logo .text {
    display: none;
    fill: #231F20;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

#myCanvas {
    width: 150px;
    height: 150px;
}

#img-container {
    margin-bottom: 20px;
}

#star-img canvas {
    display: block;
    margin: 0 auto;
}

#valueLabel {
    line-height: 30px;
    text-align: right;
}

#text-input {
    width: 100%;
}

#slider {
    height: 26px;
    margin-top: 40px;
}

#img1 {
    margin-right: calc(70% - 40px);
}

#img2 {
    margin-right: calc(30% - 30px);
}

.small-img {
    width: 20px;
    display: inline;
}

footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

footer {
    line-height: 50px;
    background-color: #232C39;
    color: #8E9299;
}

@media screen and (min-width: 768px) {
    .logo .text {
        display: block;
    }

    #slider {
        margin-top: 0;
    }
    #myCanvas {
        width: 420px;
        height: 420px;
    }
}